<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmr.ruigou.dao.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.xmr.ruigou.pojo.Category">
        <id column="category_id" property="categoryId" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="BIT"/>
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        category_id, parent_id, name, status, sort_order, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from category
        where category_id = #{categoryId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from category
        where category_id = #{categoryId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.xmr.ruigou.pojo.Category">
        insert into category (category_id, parent_id, name,
                              status, sort_order, create_time,
                              update_time)
        values (#{categoryId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
                #{status,jdbcType=BIT}, #{sortOrder,jdbcType=INTEGER}, now(), now())
    </insert>
    <insert id="insertSelective" parameterType="com.xmr.ruigou.pojo.Category">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="sortOrder != null">
                #{sortOrder,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xmr.ruigou.pojo.Category">
        update category
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </set>
        where category_id = #{categoryId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xmr.ruigou.pojo.Category">
        update category
        set parent_id   = #{parentId,jdbcType=BIGINT},
            name        = #{name,jdbcType=VARCHAR},
            status      = #{status,jdbcType=BIT},
            sort_order  = #{sortOrder,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = now()
        where category_id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectCategoryChildrenByParentId" resultMap="BaseResultMap" parameterType="long">
        select
        <include refid="Base_Column_List"/>
        from category
        where parent_id = #{parentId}
    </select>
</mapper>